app/logs

app/config/parameters.yml
app/config/*.local.yml

bin/*

app/AppCache.php
app/AppKernel.php
app/SymfonyRequirements.php
app/autoload.php
app/bootstrap.php.cache
app/check.php
app/console
app/*.cache
app/cache
app/phpunit.xml.dist
.idea/