{% extends "WSWoodstackBundle::layout.html.twig" %}

{% block title %} Profil {% endblock %}

{% block fos_user_content %}

	 <ul class="nav nav-pills">
  <li class="active"><a href="#">Infos</a></li>
  <li><a href="#">Projet</a></li>
  <li><a href="#">Historique commercial</a></li>
  <li><a href="#">Partage de fichiers</a></li>
</ul>
{% endblock fos_user_content %}
