{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

	<h2>Ajouter une annonce</h2>
	
	{{ include("OCPlatformBundle:Advert:form.html.twig") }}
	
	<p>Attention : Ajout d'une annonce en cours boloss!</p>
	
{% endblock %}